<app-nav-bar></app-nav-bar>
<div class="row"> 
  <div class="col-md-12">
    
  </div>
</div>
<div class="row" [ngClass]="{card : true}">
  <div class="col-md-12">
    <h1>Directives</h1>
  </div>
</div>
<div class="row" [ngStyle]="{border : '1px solid red', background:'#e8e8e8'}">
  <div class="col-md-12">
    <h1>Directives</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12" >
    <div appAlert role="alert">
      <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
    </div>
  </div>
</div>